/* ===== CSS ==== */

/* == 1.0 Add fonts == */

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/raleway-800.woff2") format("woff2");
    font-display: swap;
}

/* == 2.0 Base CSS == */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.main-content {
  flex-grow: 1;
}

/* == 3.0 Header Area == */

.header-area {
  width: 1160px;
  margin: 0 auto;
  color:  #000000;
  background-color: #FFE17F;
}

.top-white {
  display: block;
  height: 40px;
  background-color: #ffffff;
}
.nav-brand-logo {
  margin: 0 0 -35px 60px;
}

/* == 3.1.1 Navigation == */

.navigation {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 40px 0 0 0;
  padding: 0;
  list-style-type: none;
  }

.search-form {
  width: 460px;
  margin-left: 50px;
  margin-right: 60px;
  padding: 10px;
}

.navigation-list-item:nth-child(1) {
  width: 590px;
}

.navigation-list-item:nth-child(2) {
  margin-right: 187px;
}

.navigation-list-item:nth-child(3) {
  margin-right: 15px;
}

.navigation-list-item:nth-child(4) {
  margin-left: 19px;
}

.navigation-list-link {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 10px;
}

/* == 3.1.2 Naviation menu == */

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.navigation-menu-item:nth-child(1) {
  margin-left: 50px;
}

.navigation-menu-item:nth-child(2) {
  margin-left: 7px;
  margin-right: 220px;
}

.navigation-menu-item:nth-child(3) {
  margin-right: 20px;
}

.navigation-menu-item:nth-child(4) {
  margin-right: 55px;
}

.navigation-menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 10px;
}

/* == 3.1.3 Naviation menu-catalog == */

.navigation-menu-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 0 0 50px;
  padding: 0;
  list-style-type: none;
}

.navigation-menu-catalog-item {
  width: 220px;
}

.navigation-menu-catalog-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  padding: 10px;
}

/* == 3.1.3 Slider == */

.slider-number {
  margin: 50px 50px 50px 880px;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.slider {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0;

  outline: 2px solid #000000;
}

.slider-pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-pagination-item {
  display: flex;
  flex-direction: column;
  width: 580px;
  outline: 2px solid #000000;
}

.slider-slogan {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.slider-link {
  font-family: Raleway, sans-serif;
  font-size: 18x;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.slider-property-term {
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #000000;
}

.slider-property-description {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

/* == 3.1.4 Choice Aria == */

.choice-catalog {
  width: 1160px;
  margin: 0 auto;

  outline: 2px solid #000000;
}

.choice-catalog-list {
  display: flex;
  justify-content: space-between;
}

.choice-catalog-item {
  width: 160px;
}

.choice-catalog h3 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.choice-catalog a {
  text-decoration: none;
}

/* == 3.1.5 Services Area ==*/

.services {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;

  outline: 2px solid #000000;
}

.services-menu {
  width: 280px;
}

.services-menu-link, .about-link, .contacts-link, .button-product-current, .catalog-filter-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.services-list-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

/* == 3.1.6 Offer Area == */

.offer {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;

  outline: 2px solid #000000;
}

.offer-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* == 3.1.7 About, Contacts Area ==*/

.infoblock {
  display: flex;
  width: 1160px;
  margin: 0 auto;

  outline: 2px solid #000000;
}

.about {
  width: 580px;

  outline: 2px solid #000000;
}

.contacts {
  width: 580px;

  outline: 2px solid #000000;
}

.about-tilte, .contacts-tilte, .appointment-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-item {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.contacts-subtitle {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address-title, .contacts-address-phone {
  font-style: normal;
  color: #444444;
}

/* == 3.1.8 Appointment Area == */

.appointment {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.appointment-form-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* == 4.0 Footer Area == */

.footer-area {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  background-color: #444444;
  color: #ffffff;
}

.footer-address-title {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.futer-services-item H2 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.futer-services-link {
  text-decoration: none;
}

.phone-link {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #ffffff;
}

/* == 5.0 Catalog page == */

.catalog-products-title, .button-upload {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs-link {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

.product-card-title {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
}

.product-card-price {
  font-weight: 400;
  line-height: 21px;
  color: #444444;
}

.pagination-link {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #444444;
}

.pagination-link-prev, .pagination-link-next {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
