/* ===== CSS ==== */

/* == 1.0 Add fonts == */

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

/* == 2.0 Base CSS == */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.main-content {
  flex-grow: 1;
}

/* == 3.0 Header Area == */

.header-area {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  color:  #000000;
  background-color: #ffe17f;
}

.top-white {
  max-height: 40px;
  background-color: #ffffff;
}

.nav-brand-logo {
  /*margin: 0 0 -35px 60px;*/
  padding: 18px 10px 10px 60px;
}

/* == 3.1.1 Navigation == */

.navigation {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.navigation-list-container {
  display: flex;
  align-items: flex-start;
  margin: 40px 0 0 0;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-basis: 540px;
}

.search-form {
  display: flex;
  align-items: center;
  width: 516px;
  height: 40px;
  margin-left: 45px;
  margin-right: 19px;
}

.search-form-button {
  margin: 10px 19px 10px 14px;
}

.search-form:focus-within {
  box-shadow: inset 0 0 0 2px #AF4FFF;
  border-radius: 20px;
}

.search-form:active {
  box-shadow: inset 0 0 0 2px #000000;
  border-radius: 20px;
  background-color: transparent;
}

.form-control {
  width: 320px;
  background-color: #FFE17F;
  border: 0;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;
}

.button-search {
  display: block;
  width: 160px;
  height: 40px;
  font-size: 16px;
  line-height: 19px;
  color:  transparent;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 0 2px transparent;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.button-search:focus {
  color: #000000;
  border: none;
  box-shadow: inset 0 0 0 2px #AF4FFF;
  outline: 0;
  outline-offset: 0;
}

.button-search:hover {
  color: #ffffff;
  background-color: #000000;
  box-shadow: inset 0 0 0 2px #000000;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 2px #000000;
}

.form-control {
  outline: 0;
  outline-offset: 0;
}

.form-control::-webkit-search-cancel-button {
  display: none;
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px #FFE17F inset;
  transition: background-color 5000s ease-in-out 0s;
}


.form-control:hover::-webkit-input-placeholder {
  color: rgb(0, 0, 0, 0.6);
}

/* == Navigation list == */
.navigation-list-item:nth-child(1) {
  margin-right: auto;
}

.navigation-list-item:nth-child(2) {
  margin-right: 22px;
}

.navigation-list-link {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 5px 15px 5px 15px;
  position: relative;
  margin-right: 1px;
}

.exit {
  color: rgb(0, 0, 0, 0.3);
}

.navigation-list-link:hover  {
  color: rgb(0, 0, 0, 0.6);
  fill: rgb(0, 0, 0, 0.6);
}

.navigation-list-link:focus {
  box-shadow: inset 0 0 0 2px #AF4FFF;
  outline: none;
  border-radius: 20px;
 }

.navigation-list-link:active  {
  color: rgb(0, 0, 0, 0.3);
  fill: rgb(0, 0, 0, 0.3);
}

.navigation-list-icon {
  padding-right: 8px;
  padding-left: 3px;
}

.navigation-list-link.cart::before {
  content: "2";
  width: 21px;
  height: 21px;
  top: 10px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
}

/* == Popover == */

.popover-cart {
  display: none;
  position: relative;
  z-index: 3;
}

#popover-cart:target {
  display: block;
}

.popover-content {
  width: 320px;
  min-height: 135px;
  background-color: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 20px;
  color:#FFFFFF;
  position: absolute;
  top: 10px;
  right: -59px;
  text-align: center;
  z-index: 1;
}

.popover-content::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 153px;
  width: 14px;
	height: 14px;
  background-color: #000000;
  transform: rotate(45deg);
}

.popover-cart-list {
  display: grid;
  grid-template-columns: 1px 51px 157px 51px;
  column-gap: 20px;
  justify-items: center;
  text-align: left;
  padding: 0;
  margin: 20px 0 20px 0;
  list-style-type: none;
  position: relative;
}

.popover-cart-item-image {
  grid-column: 2/3;
  width: 41px;
  height: 43px;
  border: 5px solid transparent;
  outline: none;
}

.popover-cart-link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 3px;
  margin-bottom: 23px;
  outline: none;
  text-decoration: none;
}

.popover-cart-btn-close {
  width: 25px;
  height: 25px;
  border: 2px solid transparent;
  border-radius: 50%;
  position: relative;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.popover-cart-btn-close::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 5px;
  width: 12px;
  height: 2px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.popover-cart-btn-close::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 5px;
  width: 12px;
  height: 2px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}

.popover-cart-link:hover .popover-cart-image {
  opacity: 60%;
}

.popover-cart-link:hover .popover-cart-item-title{
  opacity: 60%;
}

.popover-cart-link:hover .popover-cart-btn-close::before {
  opacity: 60%;
}

.popover-cart-link:hover .popover-cart-btn-close::after {
  opacity: 60%;
}


.popover-cart-link:focus .popover-cart-item-image {
  border-color: #af4fff;
}

.popover-cart-link:focus .popover-cart-item-title {
  color: #af4fff;
}

.popover-cart-link:focus .popover-cart-btn-close {
  border-color: #AF4FFF;
}

.popover-cart-link:active .popover-cart-image {
  opacity: 30%;
}

.popover-cart-link:active .popover-cart-item-title {
  opacity: 30%;
}

.popover-cart-link:active .popover-cart-btn-close::before {
  opacity: 30%;
}

.popover-cart-link:active .popover-cart-btn-close::after {
  opacity: 30%;
}

.cart-result {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 44px;
  align-items: center;
  background-color: #1A1A1A;
  padding: 0;
  margin: 0 0 20px 0;
}

.cart-result-product {
  margin-left: 20px;
}

.cart-result-sum {
  margin-right: 20px;
}

.cart-result-button {
  width: 280px;
  height: 50px;
  background-color: #ffffff;
  border: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  padding: 0;
  margin: 0 0 21px 0;
  outline: none;
  box-shadow: none;
}

.cart-result-button:hover {
  background-color: #FFE17F;
}

.cart-result-button:focus {
  border: 5px solid #AF4FFF;
}

.cart-result-button:active {
  color: rgb(0, 0, 0, 0.3);
}

/* == 3.1.2 Naviation menu == */

.navigation-menu-container {
  display: flex;
  align-items: flex-start;
  margin: 20px 0 40px 0;
  padding: 0;
  position: relative;
}

.navigation-menu-products {
  display: flex;
  flex-basis: 540px;
  padding: 0;
  margin: 0 0 0 45px;
}

.navigation-menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-basis: 535px;
}

.navigation-menu-item:nth-child(2) {
  margin-right: auto;
}

.navigation-menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 10px 16px 10px 16px;
  position: relative;
}

.navigation-menu-link.catalog:active {
  color: rgb(0, 0, 0, 0.3);
}

.navigation-menu-link.service:hover::after  {
  content: "";
  display: block;
  position: absolute;
  bottom: 8px;
  width: 78%;
  border-bottom: 2px solid #000000;
}

.navigation-menu-link:focus {
  box-shadow: inset 0 0 0 2px #af4fff;
  outline: none;
  border-radius: 30px;
}

.navigation-menu-link span:active,
.navigation-menu-link.service:active::after {
  opacity: 30%;
}

.button-catalog {
  width: 50px;
  height: 50px;
  border-color: rgb(0, 0, 0);
  border-radius: 50%;
  background: #ffe17f url("../img/plus_btn.svg") no-repeat center;
  opacity: 20%;
  cursor: pointer;
  outline: none;
}

.navigation-menu-link.catalog:hover ~ .button-catalog {
  background: #ffe17f url("../img/minus_btn.svg") no-repeat center;
  opacity: 100%;
}

.navigation-menu-link.catalog:active ~ .button-catalog {
  background: #ffe17e url("../img/minus_btn.svg") no-repeat center;
  opacity: 20%;
}

.navigation-menu-link.catalog:hover ~ .popover-menu-catalog {
  display: block;
}

.navigation-menu-link.catalog:focus ~ .popover-menu-catalog {
  display: block;
}

#menu-catalog:target {
  display: block;
}

/* == 3.1.3 Naviation menu-catalog == */

.popover-menu-catalog {
  position: absolute;
  width: 1160px;
  height: 180px;
  top: 55px;
  left: 0;
  background-color: #ffe17f;
  z-index: 1;
  display: none;
}

.navigation-menu-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 0 0 50px;
  padding: 0;
  list-style-type: none;
}

.navigation-menu-catalog-item {
  width: 225px;
}

.navigation-menu-catalog-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  padding: 3px 11px 3px 11px;
  border: 2px solid transparent;
  border-radius: 20px;
  outline: none;
  box-shadow: none;
}

.navigation-menu-catalog-link:hover {
  color: rgb(0, 0, 0, 0.6);
}

.navigation-menu-catalog-link:focus {
  border-color: #AF4FFF;
}

.navigation-menu-catalog-link:active {
  color: rgb(0, 0, 0, 0.3);
}

/* == 3.1.3 Slider == */

.slider-number {
  margin: 42px 70px 40px 890px;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.slider {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.slider-pagination-img {
  width: 560px;
  height: 328px;
  object-fit: contain;
}

.slider-link-previous {
  width: 20px;
  height: 60px;
  position: absolute;
  top: 87px;
  left: 9px;
  padding: 10px;
  margin: 0;
}

.slider-link-next:hover, .slider-link-previous:hover {
  fill:rgb(0, 0, 0, 0.6);
}

.slider-link-next:focus, .slider-link-previous:focus {
box-shadow: inset 0 0 0 2px #AF4FFF;
outline: none;
border-radius: 5px;
}
.slider-link-next:active, .slider-link-previous:active {
  fill:rgb(0, 0, 0, 0.3);
}

.slider-link-next {
  width: 20px;
  height: 60px;
  position: absolute;
  top: 87px;
  left: 510px;
  padding: 10px;
  margin: 0;
}

.slider-pagination {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-pagination-item {
  width: 560px;
  margin: -54px 0 0 0;
}

.slider-slogan {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  margin: 25px 0 27px 0;
}

.slider-text {
  margin:  0 0 40px 0;
}

.slider-pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.pagination-dick {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  cursor: pointer;
}

.pagination-dick.active {
  background-color: #000000;
  border-radius: 50%;
  border: none;
}

.pagination-dick:hover {
  border-color: rgb(0, 0, 0, 0.6);
}

.pagination-dick:focus {
  border-color: #AF4FFF;
}

.pagination-dick:active {
  border-color: rgb(0, 0, 0, 0.3);
}

.button {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.button.slider-link {
  width: 220px;
  padding: 10px 0 10px 0;
  margin: 0;
  position: relative;
}

.slider-link::before {
  content: "";
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  top: 42%;
  left: 0;
  z-index: -1;
}

.slider-link:focus::before {
  width: 100%;
  height: 8px;
  top: 42%;
  left: 0;
  background: #AF4FFF;
}

.slider-link:hover::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FFE17F;
}

.slider-link:active {
  color: rgb(0, 0, 0, 0.3);
  background-color: #FFE17F;
}

.slider-pagination-dicks{
  display: grid;
  grid-auto-columns: 34px;
  grid-auto-flow: column;
  margin: 0 40px 0 auto;
  padding: 0;
  list-style-type: none;
}

.slider-property {
  display: flex;
  margin: 60px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.slider-property-item {
  width: 160px;
  margin: 0;
}

.slider-property-term {
  font-size: 36px;
  color: #000000;
  margin: 0;
}

.slider-property-description {
  font-size: 16px;
  color: #000000;
  margin-top: 12px;
}

/* == 3.1.4 Choice Aria == */

.choice-catalog {
  width: 1160px;
  margin: 93px auto 0 auto;
  padding: 0;
}

.choice-catalog-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.choice-catalog-link-img {
  display: block;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}

.vreality {
  background: #ffe17f url("../img/cat_glasses.svg") no-repeat center;
}

.monopod {
  line-height: 0px;
  background: #ffe17f url("../img/cat_monopod.svg") no-repeat;
  background-position: bottom center;
}

.camera {
  background: #ffe17f url("../img/cat_camera.svg") no-repeat center;
}

.bracelet {
  background: #ffe17f url("../img/cat_fitness_bracelet.svg") no-repeat center;
}

.watch {
  background: #ffe17f url("../img/cat_watch.svg") no-repeat center;
}

.quadrocopter {
  background: #ffe17f url("../img/cat_quadrocopter.svg") no-repeat center;
}

.choice-catalog-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  padding-top: 192px;
  margin-top: 0;
}

.choice-catalog a {
  text-decoration: none;
}

.choice-catalog-link-img:hover {
  background-color: #ffc700;
}

.choice-catalog-link-img:focus {
  outline: 5px solid #af4fff;
}

.choice-catalog-link:focus h3 {
  color: #af4fff;
}

.choice-catalog-link-img:active, .choice-catalog-link:active h3 {
  opacity: 30%;
}

/* == 3.1.5 Services Area ==*/

.gray-color {
  width: 100%;
  display: block;
  min-height: 288px;
  margin: 265px auto 80px auto;
  background-color: #F0F0F0;
  position: relative;
  z-index: 0;
}

.services {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.services-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: -25px 0 0 0;
  padding: 0;
  width: 280px;
  min-height: 319px;
  list-style-type: none;
}

.services-menu-item {
  width: 160px;
  height: 40px;
  padding: 0;
  margin: 0 0 25px 0;
  text-align: center;
}

.services-list-description {
  margin-top: 33px;
}

button.services-menu-link {
  display: inline-block;
  position: relative;
  padding: 10px;
  margin: 0;
  width: 160px;
 }

button.services-menu-link:not(.current)::before {
  content: "";
  width: 100%;
  height: 8px;
  background: #FFC700;
  position: absolute;
  top: 42%;
  left: 0;
  z-index: -1;
}

.services-menu-link:not(.current):focus::before {
  width: 100%;
  height: 8px;
  top: 42%;
  left: 0;
  background: #AF4FFF;
}

.services-menu-link:not(.current):hover::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FFE17F;
}

.services-menu-link:not(.current):active {
  width: 280px;
  padding-right: 130px;
  background-color: #000000;
  color: #FFE17F;
}

button.services-menu-link.current {
  width: 280px;
  padding-right: 130px;
  background: #000000;
  color: #FFE17F;
}


.line-service {
  margin: -104px 0 0 0;
}

.services-list {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin: -33px 0 0 114px;
  padding: 0;
  list-style-type: none;
}

.services-list-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

.services-list-item-image {
  margin: -18px 0 0 95px;
}

.about-link, .contacts-link, .button-product, .catalog-filter-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

/* == 3.1.6 Offer Area == */

.offer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 1160px;
  min-height: 100px;
  background-color: #F0F0F0;
  margin: 0 auto 0 auto;
}

.offer-link-block {
  display: block;
  text-decoration: none;
  outline: 5px solid transparent;
}

.offer-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.offer-list-item:nth-child(1) {
  width: 125px;
  height: 100px;
  background: #ffe17f url("../img/delivery_car.svg") no-repeat center;
}

.offer-list-item:nth-child(2) {
  width: 910px;
  text-align: center;
}

.offer-list-item:nth-child(3) {
  width: 125px;
  height: 100px;
  background: transparent url("../img/info_btn.svg") no-repeat center;
}

.offer-list-item:nth-child(1):hover {
  background-color: #ffc700;
}

.offer-link-block:focus {
  outline-color: #af4fff;
}

.offer-link-block:active {
  opacity: 20%;
}

.offer-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* == 3.1.7 About, Contacts Area ==*/

.infoblock {
  display: flex;
  width: 1160px;
  margin: 98px auto 75px auto;
  padding: 0;
}

.about {
  display: flex;
  flex-direction: column;
  width: 580px;
  margin: 0;
  padding: 0;
}

.about-tilte {
  margin-bottom: 44px;
}

.about-text {
  margin: 0 0 30px 0;
}

.about-list {
  margin: 30px 0 58px 0;
  padding-left: 23px;
  list-style-type: none;

}

.about-item {
   margin: 10px 0 0 0;
}

.about-item-link {
  font-weight: 800;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  padding: 10px;
  position: relative;
}

.about-item-link:before {
  content: " ";
  width: 8px;
  height: 8px;
  top: 17px;
  left: -22px;
  background-color: #ffc700;
  border-radius: 50%;
  position: absolute;
}

.button.about-link {
  position: relative;
  padding: 10px 17px 10px 17px;
  margin: 0;
  max-width: max-content;
}

.about-link::before {
  content: "";
  width: 260px;
  height: 8px;
  background: #FFE17F;
  position: absolute;
  top: 42%;
  left: 0;
  z-index: -1;
}


.contacts {
  display: flex;
  flex-direction: column;
  width: 580px;
  margin: 0;
  padding: 0 0 0 38px;
}

.contacts-tilte {
  margin-bottom: 44px;
}

.contacts-text {
  margin: 0;
}

.about-tilte, .contacts-tilte {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-address-title {
  margin: 15px 0 1px 0;
}

.contacts-subtitle {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin: 30px 0 1px 0;
}

.contacts-address-title, .contacts-address-phone {
  font-style: normal;
  color: #444444;
}

.contacts-schedule {
  list-style-type: none;
  padding: 0;
  margin: 12px 0 56px 0;

}

.contacts-link {
  position: relative;
  padding: 10px 32px 10px 32px;
  margin: auto 0 0 0;
  max-width: max-content;
}

.contacts-link::before {
  content: "";
  width: 260px;
  height: 8px;
  background: #FFE17F;
  position: absolute;
  top: 42%;
  left: 0;
  z-index: -1;
}

.about-link:focus::before,
.contacts-link:focus::before {
  width: 100%;
  height: 8px;
  top: 42%;
  left: 0;
  background: #AF4FFF;
}

.about-link:hover::before,
.contacts-link:hover::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFE17F;
}

.about-link:active,
.contacts-link:active {
  color: rgb(0, 0, 0, 0.3);
  background-color: #FFE17F;
}

/* == 3.1.8 Appointment Area == */

.appointment-container {
  width: 100%;
  background-color: #F0F0F0;
  margin: 0 auto;
  padding-bottom: 150px;
}

.appointment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.appointment-item {
  display: flex;
  flex-direction: column;
  width: 590px;
  margin: 0;
  padding: 0;
}

.appointment-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 77px 187px 0 0;
}

.appointment-text {
  margin: 87px 0 0 28px;
}

.appointment-form {
  display: flex;
  align-items: center;
  width: 1160px;
  justify-content: space-between;
  margin: 43px 0 0 0;
  padding: 0;
}

.appointment-form-email {
  width: 602px;
  height: 52px;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid rgb(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding-top: 7px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;
  outline: none;
}

.appointment-form-email:-webkit-autofill,
.appointment-form-email:-webkit-autofill:hover,
.appointment-form-email :-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px #f0f0f0 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.appointment-form-email:hover {
  border-color: rgb(0, 0, 0, 0.2);
}
.appointment-form-email:focus {
  background-color: #dcdcdc;
  border-color: transparent;
}

.appointment-form-email:active {
  border-color: #000000;
}

.appointment-form-email:invalid:not(:placeholder-shown) {
  border-color: #ff4d3d;
}

.appointment-form-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  width: 260px;
  height: 52px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  margin-left: -7px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.appointment-form-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.appointment-form-button:focus {
  border-color: #af4fff;
}

.appointment-form-button:active {
  background-color: #000000;
  color: rgb(255, 255,255, 0.3);
  border-color: #000000;
}

.appointment-form-check{
  position: relative;
}

.appointment-mark {
  position: absolute;
  top: 0;
  left: -41px;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-radius: 3px;
}

.appointment-check[type="checkbox"]:checked + .appointment-mark::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 2px;
  width: 8.2px;
  height: 3px;
  background-color: #08af00;
  transform: rotate(45deg);
}

.appointment-check[type="checkbox"]:checked + .appointment-mark::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  width: 12px;
  height: 3px;
  background-color: #08af00;
    transform: rotate(-45deg);
}


/* == 4.0 Footer Area == */

.footer-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #444444;
}

.footer-area {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  color: #ffffff;
}

/* == 4.1 Footer services == */

.footer-contacts {
  width: 280px;
}

.footer-brand-link {
  display: block;
  width: 146px;
  padding: 10px;
  padding-left: 0;
  margin-top: 52px;
}

.footer-address-title {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 52px;
}

.foter-services {
  width: 600px;
  margin-right: 86px;
}

.futer-services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 113px 0 0 0;
  padding: 0;
}

.futer-services-item {
  margin: 0;
  padding: 0;
  text-align: center;
}

.futer-services-link {
  display: block;
  width: 148px;
  height: 40px;
  text-decoration: none;
  outline: 2px solid transparent;
  border-radius: 20px;
  position: relative;
  margin: 0 3px 0 3px;
}

.futer-services-item H2:hover {
  color: #ffc700;
}

.futer-services-link:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 18px;
  bottom: 5px;
  width: 76%;
  border-bottom: 2px solid #ffc700;
}

.futer-services-link:focus {
  outline-color: #af4fff;
}

.futer-services-item H2:active,
.futer-services-link:active::after  {
  opacity: 30%;
}

.futer-services-item H2 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px;
}

/* == 4.2 Footer Social Info == */

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 48px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 50px;
  height: 50px;
  margin: 0;
}

.footer-social-button {
  display: block;
  width: 40px;
  height: 40px;
  border: 5px solid #444444;
  border-radius: 50%;
  outline: none;
}

.footer-social-fb {
  background: rgba(255, 255, 255, 0.3) url("../img/facebook_btn.svg") no-repeat center;
}

.footer-social-inst {
  background: rgba(255, 255, 255, 0.3) url("../img/instagram_btn.svg") no-repeat center;
}

.footer-social-tw {
  background: rgba(255, 255, 255, 0.3) url("../img/twitter_btn.svg") no-repeat center;
}

.footer-social-button:hover {
  background-color: #ffc700;
}

.footer-social-button:focus {
  border-color: #af4fff;
}

.footer-social-button:active {
  opacity: 60%;
}

/* == 4.3 Footer phone == */

.footer-phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.phone-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 5px 12px 5px 12px;
  margin-top: 131px;
  margin-right: -10px;
  border: 2px solid transparent;
  border-radius: 20px;
  outline: none;
}

.phone-link:hover {
  color: #ffc700;
}

.phone-link:focus {
  border-color: #af4fff;
}

.phone-link:active {
  color: rgba(255, 199, 0, 0.2);
}

.htmlacademy-link {
  display: block;
  width: 135px;
  padding: 10px 10px 10px 10px;
  margin: 29px -30px 0 0;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
}

.htmlacademy-link:hover path {
  fill: #ffffff;
}

.htmlacademy-link:focus {
  border-color: #af4fff;
}

.htmlacademy-link:active path {
  fill: #dcdcdc;
}

/* == 4.4 Modal container == */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(229, 229, 229, 0.8);
}

.modal.modal-auth {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 920px;
    height: 580px;
    padding: 0 80px 0 80px;
    background-color: #ffffff;
    border: 10px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}


.modal-content {
  width: 760px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0;
  margin: 0;
}

.modal-title {
font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 50px;
color: #000000;
margin: 72px 0 48px 0;
}

.modal-close-button {
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  border-radius: 50%;
  position: relative;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

.modal-close-button::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 7px;
  width: 26px;
  height: 3px;
  background-color: #000000;
  transform: rotate(45deg);
}

.modal-close-button::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 7px;
  width: 26px;
  height: 3px;
  background-color: #000000;
  transform: rotate(-45deg);
}

.modal-close-button:hover::before,
.modal-close-button:hover::after  {
  background-color: rgb(0, 0, 0, 0.6);
}

.modal-close-button:active::before,
.modal-close-button:active::after  {
  background-color: rgb(0, 0, 0, 0.3);
}

.modal-close-button:focus {
  border-color: #af4fff;
}

.order-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field-group {
  margin: 10px 0 0 0;
}

.form-label {
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: -0.05em;
}

.field {
  height: 60px;
  background-color: #f0f0f0;
  font-size: 16px;
  line-height: 20px;
  border: 5px solid transparent;
  box-sizing: border-box;
  margin-top: 5px;
  outline: 0;
  outline-offset: 0;
}

.field:-webkit-autofill,
.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px #f0f0f0 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.field:focus {
  border-color: #af4fff;
}

.field:active {
  border-color: #000000;
}

.field:invalid:not(:placeholder-shown) {
  border-color: red;
}

.field.name {
  background: #F0F0F0 url("../img/person.svg") no-repeat center;
  background-position-x: 95%;
}

.field.email {
  background: #F0F0F0 url("../img/post.svg") no-repeat center;
  background-position-x: 95%;
}

.field::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgb(0, 0, 0, 0.6);
  padding-left: 20px;
}

.field-subtitle {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.field-subtitle.red {
  color: #ff3d3d;
}

.order-form-name, .name {
  width: 350px;
  padding: 0;
}

.order-form-email, .email {
  width: 360px;
  padding: 0;
}

.order-form-what, .what {
  width: 560px;
  padding: 0;
}

.order-form-quantity {
  width: 160px;
  padding: 0;
  position: relative;
}

.button-order-submit {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  width: 200px;
  height: 40px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  margin-top: 54px;
  z-index: 0;
  outline: none;
  box-shadow: none;
}

.button-order-submit::before {
  content: "";
  width: 200px;
  height: 8px;
  background-color: #ffe17f;
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;
}


.button-order-submit:focus::before {
  background-color: #af4fff;
}

.button-order-submit:hover {
  background-color: #ffe17f;
}

.button-order-submit:active {
  color: rgb(0, 0, 0, 0.3);
}

.quantity-block {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  align-items: center;
  background-color: #f0f0f0;
  border: 5px solid #f0f0f0;
  margin-top: 5px;
}

.quantity-block:focus {
  border-color: #af4fff;
}

.botton-info {
  width: 26px;
  height: 26px;
  background-color: #ffe17f;
  border: none;
  border-radius: 50%;
  font-size: 19px;
  margin-left: 5px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.quantity {
  justify-self: center;
  height: 50px;
  border: 0;
  background-color: #f0f0f0;
  box-sizing: border-box;
  outline: 0;
  outline-offset: 0;
  resize: both;
  max-width: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  display: none;
}
.btn-quantity {
  width: 32px;
  height: 32px;
  justify-self: center;
  border: 2px solid transparent;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.btn-quantity:focus {
  border-color: #af4fff;
}

.btn-quantity.minus::before {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  top: 13px;
  left: 6px;
  background-color: rgb(0, 0, 0, 0.3);
}

.btn-quantity.plus::before {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  top: 13px;
  left: 6px;
  background-color: rgb(0, 0, 0, 0.3);
}

.btn-quantity.plus::after {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  top: 13px;
  left: 6px;
  background-color: rgb(0, 0, 0, 0.3);
  transform: rotate(90deg);
}

.popover-info {
  position: absolute;
  width: 200px;
  height: 160px;
  bottom: 48px;
  right: 40px;
  background-color: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.popover-info::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 125px;
  width: 10px;
	height: 10px;
  background-color: #000000;
  transform: rotate(45deg);
}

.popover-info-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 19px auto 0 17px;
}

/* == 5.0 Catalog page == */

.main-inner {
  flex-grow: 1;
}

/* == 5.1 Inner header Area ==*/

.inner-header {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.inner-header-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 35px 0 0 58px;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  margin: 8px 0 34px 45px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link,
.breadcrumbs-link-current {
  font-size: 16px;
  line-height: 19px;
  color: rgb(0, 0, 0, 0.6);
  text-decoration: none;
  display: block;
  padding: 10px;
  border: 5px solid transparent;
  outline: none;
}

.breadcrumbs-link:hover {
  color: #000000;
}

.breadcrumbs-link:focus {
  border-color: #af4fff;
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-icon {
  display: block;
  width: 6px;
  height: 19px;
  background: transparent url("../img/small-arrow.svg") no-repeat center;
  margin-top: 16px;
  opacity: 60%;
}

.catalog-products-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* == 5.2 Filter Area == */

.catalog-products-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 320px;
  background-color: #e5e5e5;
  flex-grow: 1;
  z-index: 0;
}

.catalog-filter {
  width: 270px;
  position: relative;
  margin-top: 84px;
}

.catalog-products-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #dcdcdc;
  margin: 0;
  padding: 0;
  text-align: center;
}

.catalog-products-title h2 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-right: 170px;
}

/* == 5.3 Sorting Area == */

.catalog-products {
  display: flex;
  flex-basis: 860px;
  flex-direction: column;
  flex-grow: 1;
}

.sorting-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #ebebeb;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
}

.sorting-container-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 0 90px;
}

.select-control {
  width: 200px;
  height: 30px;
  background-color: transparent;
  border: 2px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;
}

.select-control:hover {
 color: rgb(0, 0, 0, 0.6)
}

.select-control:focus {
  border: 5px solid #af4fff;
  outline: 0;
  outline-offset: 0;
}

.select-control:active {
  color: rgb(0, 0, 0, 0.3);
}

.sorting-type-form {
  width: 200px;
  margin:  -2px 300px 0 44px;
}

.arrow-container {
  display: grid;
  grid-template-columns: 40px 40px;
  column-gap: 1px;
}

.button-arrow {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  border: 5px solid transparent;
}

.button-arrow-icon {
  position: absolute;
  top: 30%;
  left: 30%;
  padding: 0;
  margin: 0;

}
.button-arrow-icon.up {
  transform: rotate(180deg);
  fill: rgb(0, 0, 0, 0.3);
}

.button-arrow:hover .button-arrow-icon {
  fill: rgb(0, 0, 0, 0.6);
}

.button-arrow:focus {
  border-color: #af4fff;
  outline: 0;
  outline-offset: 0;
}

.button-arrow:active .button-arrow-icon {
  fill: rgb(0, 0, 0);
}



/* == 5.4 Products Area == */


.product-card-container {
  display: flex;
  width: 850px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  padding: 0;
  margin: 69px 0 0 0;
  list-style-type: none;
}

.product-card {
  display: grid;
  grid-template-columns: 280px 80px;
  grid-template-rows: 380px minmax(50px, 1fr);
  row-gap: 32px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style-type: none;
}

.product-card-item-image {
  grid-column: 1/-1;
  padding: 0;
  margin: 0;
}

.product-card-item-price {
  justify-self: flex-end;
}

.product-card-link {
  outline: none;
  text-decoration: none;
  position: relative;
}

.product-card-link:hover .product-card-image {
  opacity: 60%;
}

.product-card-link:focus .product-card-image{
  outline: 5px solid #af4fff;
}

.product-card-link:focus .product-card-title {
  color: #af4fff;
}

.product-card-link:focus .product-card-price {
  color: #af4fff;
}

.button-product {
  position: absolute;
  width: 180px;
  height: 40px;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: opacity .35s ease;
  z-index: 2;
  opacity: 0;
}

.button-product::before {
  content: "";
  position: absolute;
  top: 42%;
  left: 0;
  width: 180px;
  height: 8px;
  background-color: #ffc700;
  z-index: -1;
}

.button-product:hover {
background-color: #ffc700;
}

.button-product:active {
  color: rgb(0, 0, 0, 0.6);
}


.product-card-link:hover .button-product {
  opacity: 1;
}

.product-card-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  width: 285px;
  margin: 0;
}

.product-card-image {
  width: 360px;
  height: 380px;
  object-fit: cover;
}

.product-card-price {
  font-weight: 400;
  line-height: 21px;
  color: #444444;
}

.product-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 760px;
  margin: 0;
  padding: 0;
}

.button-upload-more {
  display: flex;
  justify-content: center;
  margin: 0 0 51px 0;
}

.button-upload {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  width: 760px;
  padding: 10px;
  width: 760px;
  height: 55px;
  background-color: #ffffff;
  border:  3px solid rgb(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.button-upload:hover {
  color: #000000;
  border-color: #000000;
}

.button-upload:focus {
  border-color: #af4fff;
}

.button-upload:active {
  opacity: 30%;
}

/* == Pagination == */

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  padding: 0;
  margin: 0 0 77px 0;
  background-color: #ebebeb;
}

.pagination {
  display: grid;
  width: 506px;
  grid-template-columns: repeat(auto-fit, 38px);
  grid-template-rows: 70px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination-button {
  font-size: 16px;
  line-height: 19px;
  color: rgb(68, 68, 68, 0.3);
  text-decoration: none;
  background-color: #ebebeb;
  width: 38px;
  height: 38px;
  border: 5px solid transparent;
  cursor: pointer;
}

.pagination-button:hover {
  color: #444444;
}

.pagination-button:focus {
  border-color: #af4fff;
}

.pagination-button:active {
  color: rgb(68, 68, 68, 0.1);
}

.pagination-button-prev,
.pagination-button-next {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  width: 127px;
  height: 70px;
  background-color: #ebebeb;
  border: 5px solid #ebebeb;
  outline: none;
}

.pagination-button-prev:hover,
.pagination-button-next:hover {
  background-color: #dcdcdc;
  border-color: #dcdcdc;
}

.pagination-button-prev:focus,
.pagination-button-next:focus {
  border-color: #af4fff;
}

.pagination-button-prev:active,
.pagination-button-next:active {
  color: rgb(0, 0, 0, 0.2);
}

/* == 5.5 Form filter == */

/* == 5.5.1 Range == */

.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  background-color:  #dcdcdc;
  margin-top: 35px;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color:  #000000;
}

.toggle-min {
  top: -9px;
  left: -18px;;
}

.toggle-max {
  top: -9px;
  left: 120px;
}

.range-toggle:focus{
  border: 2px solid #af4fff;
}

.range-toggle:active {
  background: #000000;
  border: 2px solid #000000;
}

.range-wrapper-inputs {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-size: 15px;
  line-height: 18px;
  color: rgb(0, 0, 0, 0.3);
  margin-top: 15px;
}

.catalog-filter-input {
  width: 100px;
  background-color: transparent;
  border: none;
  font: inherit;
  color: rgb(0, 0, 0, 0.3);
  appearance: textfield;
  outline: none;
  margin-bottom: 48px;
  cursor: pointer;
}

.catalog-filter-input:focus + .catalog-filter-label,
.catalog-filter-input:focus {
  color: #af4fff;
}

.catalog-filter-input:active + .catalog-filter-label,
.catalog-filter-input:active {
  color: #000000;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

.catalog-filter-group::before {
  content: "";
  width: 200px;
  height: 2px;
  top: -35px;
  background-color: #000000;
  position: absolute;
}

.catalog-filter-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  z-index: 2;
}

.catalog-filter-list{
  list-style-type: none;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding: 0;
}

.catalog-filter-list.color {
  margin: 27px 0 38px 0;
}

.catalog-filter-list.bluetooth {
  margin: 27px 0 22px 0;
}

.catalog-filter-item {
  padding-bottom: 21px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #242424;
  border-radius: 3px;
  cursor: pointer;
}

.control-mark-radio {
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.control-input:disabled + .control-mark {
  border-color: #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 11px;
  left: 2px;
  width: 8.2px;
  height: 3px;
  background-color: #000000;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 8px;
  left: 7px;
  width: 12px;
  height: 3px;
  background-color: #000000;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.control-mark:hover,
.control-mark-radio:hover {
  border-color: rgb(0, 0, 0, 0.5);
}

.control-input[type="checkbox"]:checked + .control-mark:hover::before,
.control-input[type="checkbox"]:checked + .control-mark:hover::after,
.control-input[type="radio"]:checked + .control-mark-radio:hover::before {
  background-color: rgb(0, 0, 0, 0.5) ;
}

.control-mark:hover+.control-label,
.control-label:hover {
  color: rgb(0, 0, 0, 0.5);
}

.control-mark-radio:hover+.control-label,
.control-label:hover {
  color: rgb(0, 0, 0, 0.5);
}

.control-mark:focus,
.control-mark-radio:focus {
  border-color: #af4fff;
}

.control-input[type="checkbox"]:checked + .control-mark:focus::before,
.control-input[type="checkbox"]:checked + .control-mark:focus::after,
.control-input[type="radio"]:checked + .control-mark-radio:focus::before {
  background-color: #af4fff ;
}

.control-label:focus {
  color: #af4fff;
}

.control-mark:active,
.control-mark-radio:active {
  border-color: rgb(0, 0, 0, 0.2);
}

.control-mark:active+.control-label,
.control-label:active {
  color: rgb(0, 0, 0, 0.2);
}

.control-input[type="checkbox"]:checked + .control-mark:active::before,
.control-input[type="checkbox"]:checked + .control-mark:active::after,
.control-input[type="radio"]:checked + .control-mark-radio:active::before {
  background-color: rgb(0, 0, 0, 0.2) ;
}

.catalog-filter-button {
  width: 180px;
  height: 40px;
  border: none;
  background-color: transparent;
  position: relative;
  outline: none;
  cursor: pointer;
}

.catalog-filter-button::before {
  content: "";
  width: 180px;
  height: 8px;
  background: #FFE17F;
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;
}

.catalog-filter-button:hover {
  background-color: #FFC700;
}

.catalog-filter-button:active {
  color: rgb(0, 0, 0, 0.3);
}
