/* ===== CSS ==== */

/* == 1.0 Add fonts == */

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/raleway-800.woff2") format("woff2");
    font-display: swap;
}

/* == 2.0 Base CSS == */

body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    background-color: #ffffff;
    color: #444444;
}

/* == 2.1 Header Area == */

.header-area {
    color:  #000000;
    background-color: #FFE17F;
}

/* == 2.1.1 Navigation == */

.navigation-list-link {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

/* == 2.1.2 Naviation menu == */

.navigation-menu-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    /* line-height: 21px; */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.navigation-menu-catalog-link {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}